<%= form_with(model: timelog, html: {class: "formaddactivity"}) do |form| %>
  <% if timelog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(timelog.errors.count, "error") %> prohibited this timelog from being saved:</h2>

      <ul>
        <% timelog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.hidden_field :activity_id, value: current_activity.id %>
  </div>
  <div class="activity-input"> 
    <div>
    <%= form.number_field :minutes, placeholder: "Minutes", class:"activity-input-mins" %>
  </div>

  <div>
    <%= form.date_field :date, class:"activity-input-date" %>
  </div>
  </div>



  <div>
    <%= form.submit 'Add', class:"activity-submit"%>
  </div>
<% end %>
