<div id="<%= dom_id timelog %>">
  <p>
    <strong>User:</strong>
    <%= timelog.user_id %>
  </p>

  <p>
    <strong>Activity:</strong>
    <%= timelog.activity_id %>
  </p>

  <p>
    <strong>Minutes:</strong>
    <%= timelog.minutes %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= timelog.date %>
  </p>

</div>
