<div class="activities-innercontainer" id = "activities-innercontainer" data-controller= "timelog">
  <% @activities.each do |activity| %>

    <div class="activity-card" style="background-color: <%= activity.style %>" >
      <div >
        <%= render partial: "timelogs/form", locals:{timelog: Timelog.new, current_activity: activity } %>
      </div>
      <div class="activity-card-sec" data-timelog-target=<%= " #{activity.title.downcase}" %>> 
      <%= image_tag "icon-#{activity.title.downcase}.svg", width: '50' %>
      <div class="activity-inner">
        <div class="activity-header">
          <h4>
            <%= activity.title %>
          </h4>
          <div class="icon-container">
            <i  class="fa-solid fa-plus" 
                data-action="click->timelog#showCard"
                data-timelog-payload-param = <%= activity.title%>
                ></i>
          </div>
        </div>
        <div class="activity body">
          <h3>
            <%= activity.getCurrentLogs(timeframe, current_user.id) %>
          </h3>
        </div>
        <div class="activity-footer">
          <p>
            <%= "Last #{timeframe} - #{activity.getPrevLogs(timeframe, current_user.id)}" %>
          </p>
        </div>
      </div>
      </div>
    </div>
  <% end %>
</div>
