<div class="activities-container">
  <div class="user-container">
    <div class="user-card">
      <div class="image-container">
        <% if current_user.image.attached? %>
          <%= image_tag current_user.image,width:'70', height: '70'  %>
        <% else %>
          <%= image_tag 'avatar.webp',width:'60'  %>
        <% end %>
      </div>
      <div> 
      <p>Report for</p>
      <h2>
        <%= current_user.getName  %>
        <br/>
        <%= current_user.lastName %>
      </h2>
      </div>
    </div>
    <div class="timeframes" >
      <% Activity::TIMEFRAMES.each do |timeframe|  %>
        <%= button_to timeframe.capitalize(), activities_update_timeframe_path(timeframe:timeframe), class:"timeframe-button" %>
      <% end %>
    </div>
  </div>
  <div id="turbo_activities">
    <%= render partial: 'activities/activity', locals: { timeframe: 'day'} %>
  </div>
</div>
